@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Open Sans", sans-serif;
}*/

body{
    min-height: 100vh;
    background-color: whitesmoke;
}


main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.container-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
}

.btn-mas{
    background-color: brown;
    border-radius: 100vmax important!;
}


#historialLista{
    list-style-type: none;
    padding: 0;
}

#historialLista li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e68c3a;
    border-radius: 5px;
    text-transform: uppercase;
    color:whitesmoke ;
   
}


