@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

body{
    padding:20px;
}

#instalarBanner{
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: #dab0da;
    padding: 10px;
    text-align: center;

}

