@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: "Open Sans", sans-serif;
}*/

body{
    min-height: 100vh;
    background-color: #3e4b99;
}


main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.container-movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;
}




#historialLista{
    list-style-type: none;
    padding: 0;
}

#historialLista li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #31a5bf;
    border-radius: 5px;
    text-transform: uppercase;
    color:whitesmoke;
   
}

#lista li{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #31a5bf;
    border-radius: 5px;
    text-transform: uppercase;
    color:whitesmoke;

}

nav{
    padding: 0 2rem;
}

h1{
    font-weight: 800;
    color: rgb(238, 230, 144);
    padding-bottom: 2rem;
}

.logo a{
    color: rgb(247, 240, 167);
}

.container-movies .movie-item{
    background-color: #8b94af00;;
    margin: 0;
    padding: 0;

}

.poster-movie{
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.movie-detalles{
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}

.movie-item .poster-movie>a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container-movies{
    background-color: #42579e00;
}
.movie-detalles{
    padding: 1rem;
 
}

.movie-name a{
    font-size: 1.2rem;
    color: #301886;
    font-weight: 700;
}
.movie-year a{
    color: #461c63;
    font-weight: 500;
    padding: 0.1rem;
}

.movie-detalles{
    background-color: #c5cae9;
}

.movie .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(70, 70, 173);
    border-radius: 10px;
}
.buscar{
    color: rgb(255, 230, 156);
    font-weight: 500;
    border: none;
    height: auto;
    padding: 0.6rem 0.5rem 0 1.5rem;
    font-size: 17px;
}


.search-bar{
    background-color: white;
}
#busqueda input{
    margin: 0px;
}
.btn-historial{
    margin-right: 1rem;
    border:none;
    background-color: #7181ec;
}
.card{
    border: 2px solid rgb(178, 178, 246);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.card-image{
    width: 100%;
    height: auto; 
    overflow: hidden;
}

.card .card-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card .card-content {
    padding: 0px;
    background-color: #a58cff;
}

.box-title{
    background-color: #9077e9;
    padding: 1.5rem;
    border-bottom: 1px solid rgb(235, 228, 255);
}

.card-title{
    background-color: #3a65e600;
    width: 100%;
    color: #FFFF00;
}
.card .card-content .card-title {
    font-weight: 600;
}
.box-detalle p>span{
    color: #fff200;
    font-weight: 600;   
}

.card .card-content p{
    color: white;
    padding: 0.3rem;
    padding-left: 0.5rem;
    font-weight: 400;
}

.material-icons.custom-color{
    color: #fff176;
}

i.material-icons{
    position: fixed;
}


i.btn-floating {
    position: fixed;
}

h2{
    font-weight: 600;
    color: rgb(238, 230, 144);
    padding-bottom: 2rem;
}